<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.feature.Redirect</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
          <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
          <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
        </init-param>
        <init-param>
          <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
          <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <env-entry>
        <description>
         The name of the class that configures the backend for
         this web app. It can be:
         - stub: Used for testing purposes.
         - production: It requires additional env-entries to work. Consult the
         documentation of your application server to see how to do this. For
         example in Tomcat is done using Environment entries within a context
         element.
         The additional required entries in the case you use production would be:
         - mongo-host: The host on which the mongodb is located
         - mongo-port: The port on which the mongodb is listening
         - mongo-db: The name of the database to use within the mongodb instance.
        </description>
        <env-entry-name>backend-type</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>stub</env-entry-value>
    </env-entry>
</web-app>
